@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div.content {
    box-sizing: border-box;
    border: 0.1em solid #e062ff;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 30em; /* Ajustei para em */
    width: 90%;
}

main, aside {
    background-color: #F6F6F6;
    padding: 0.5em;
}

div.form-sp {
    margin-bottom: 1em; /* Ajustei para em */
}

input.input-cad {
    min-width: 10em;
    height: 2.5em;
    padding: 1em;           
    border: 0.1em solid rgb(180, 179, 179);
    border-radius: 0.6em;
}

input[type="submit"] {
    padding: 0.5em;
    border-radius: 1.5em;
    width: 25em;
    height: 3em;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

aside {
    background-color: #E1EAEB;
}

h1 {
    color: #F2BFFF;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.1em #F2BFFF;
    transition-duration: 0.5s;
}

h1:hover {
    text-shadow: 0.2em 0.2em 0.4em #F2BFFF;
} 

p#p1, a#cad {
    display: inline-block;
}

/* Media queries para ajustes em telas menores */
@media screen and (max-width: 600px) {
    div.content {
        width: 90%;
    }

    input.input-cad {
        min-width: 25em;
        max-width: 60em;
    }
}
