@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
}

:root {
    --pao: #F05632;
    --destaque: 'Poppins', sans-serif;
  }

section.type1 {
    background-color: #201E1F;
    min-width: 100%;
    min-height: 98vh;
}

section.gray {
    background-color: #282828;
    width: 100%;
    min-height: 60vh;
    text-align: center;
}

img#mulher {
    padding-top: 10px;
    text-align: center;
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

img.icone {
    position: absolute;
    left: 0%;
    top: 0%;
    display: inline;
    text-align: center;
    vertical-align: middle;
}

div#laranjabox {
    margin: auto;
    padding-top: 5px;
    background-color: #F05632;
    max-width: 30em;
}

strong#pao {
    color: var(--pao);
}

h1#titulo {
    margin-top: 80px;
    text-align: center;
    font-family: var(--destaque);
    color: white;
    font-weight: 900;
    font-size: 42px;
    line-height: 1;
}

p {
    max-width: 1140px;
    text-align: center;
    font-size: 1.3em;
    padding: 1% 5%;
    margin: auto;
    font-weight: normal;
    color: white;
    font-family: var(--destaque);
}

section > h2 {
    padding-top: 40px;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 31px;
    font-weight: 900;
    text-transform: uppercase;
}

div.cxbranca {
    position: relative;
    text-align: center;
    margin: 20px 30px;
    border-radius: 5%;
    display: inline-block;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.71);
    width: 13vw;
    height: 35vh;
}